body {
  background-color: #ecf0f1;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.header-top {
  color: #555;
  background-color: #ddd;
  background-repeat: repeat-x;
  border-bottom: 1px solid #ccc;
  font-size: 13px;
  line-height: 20px;
  padding: 6px 16px;
}

.header-top a {
  font-weight: bold;
}

.header-top select {
  float: right;
  margin-right: 6px;
}

.header-users {
  background-color: #3cc0bf;
}

.container {
  padding: 20px 30px;
}

ul.pulls {
  padding: 0;
  margin: 0;
  color: #efefef;
}

ul.pulls li {
  margin-bottom: 10px;
  padding: 0 20px;
  line-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
}
ul.pulls li .link, ul.pulls li .pull-right {
  white-space: nowrap;
}

ul.pulls li.status {
    background-color: #202831;
}
ul.pulls li.status.success {
    background-color: #39c5a0;
}
ul.pulls li.status.failure, ul.pulls li.status.error {
    background-color: #ac3939;
}
ul.pulls li.status.pending {
    background-color: #cea61b;
}
ul.pulls li .avatar {
  margin: 5px 5px 5px -15px;
  border-radius: 9000px;
  height: 30px;
  vertical-align: middle;
}

ul.pulls .date {
  margin-left: 12px;
}
ul.pulls .repo {
    font-weight: bold;
}

ul.users {
  text-align: center;
  padding: 0;
}

ul.users > li {
  display: inline-block;
  margin: 0 1em;
}

ul.users > li img {
  height: 5em;
  width: 5em;
  border: 0.5em solid #000000;
  border-radius: 50%;
}

ul.users > li img.error, ul.users > li img.failure {
  border-color: #ac3939;
}
ul.users > li img.success {
  border-color: #39c5a0;
}
ul.users > li img.pending {
  border-color: #cea61b;
}

ul.pullsStates {
  margin: 0;
  padding: 0;
  max-width: 6em;
}

ul.pullsStates li {
  margin: 0 0.25em;
  display: inline-block;
  border-radius: 50%;
  min-width: 1em;
  min-height: 1em;
}

ul.pullsStates li {
  background-color: #202831;
}
ul.pullsStates li.success {
  background-color: #39c5a0;
}
ul.pullsStates li.error, ul.pullsStates li.failure {
  background-color: #ac3939;
}
ul.pullsStates li.pending {
  background-color: #cea61b;
}

.pull-right {
  float: right;
  text-align: right;
}

.clearer {
  line-height: 0;
  clear: both;
}
