<header class="header-top">
  <a href="http://github.com/m6web/GithubTeamReviewer">Github Team Reviewer</a> by <a href="http://tech.m6web.fr">M6Web</a>
  <select ng-model="team" ng-options="teamName as teamName for (teamName, team) in teams"></select>
</header>

<div class="container">
    <ul class="users" ng-if="users">
        <li ng-repeat="user in users" class="users">
            <a ng-href="{{user.html_url}}">
                <img
                class="avatar"
                ng-src="{{ user.avatar_url}}"
                title="{{ user.login }}"
                ng-class="{
                    failure: user.pullsState === 'failure',
                    error: user.pullsState === 'error',
                    success: user.pullsState === 'success',
                    pending: user.pullsState === 'pending'
                }">
            </a>
            <legend>
                <ul class="pullsStates">
                    <li ng-repeat="pull in user.pulls" class="{{pull.statuses[0].state}}">
                    </li>
                </ul>
            </legend>
        </li>
    </ul>
    <ul class="pulls">
        <li ng-repeat="pr in toArray(pulls) | orderBy:'updated_at':descendingOrder" ng-class="pr.statuses[0].state" class="status">
            <span class="link"><img class="avatar" ng-src="{{ pr.user.avatar_url}}" title="{{ pr.user.login }}" /><a ng-href="{{pr.html_url}}" >#{{ pr.number }} {{ pr.title }}</a></span>
            <span class="pull-right">
                <span class="repo"><a ng-href="{{pr.head.repo.html_url}}" >{{ pr.head.repo.full_name }}</a></span>
                <span class="date">{{pr.updated_at | date:"dd/MM/yyyy"}}</span>
            </span>
            <div class="clearer">&nbsp;</div>
        </li>
    </ul>
</div>
